<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProfile name="development,test">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="production">
        <appender
            name="STACKDRIVER"
            class="com.google.cloud.logging.logback.LoggingAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <flushLevel>WARN</flushLevel>
        </appender>
        <root level="WARN">
            <appender-ref ref="STACKDRIVER" />
        </root>
    </springProfile>
</configuration>
