<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
        <endpointUrl>https://logs-01.loggly.com/inputs/292d1aa9-f96d-4b21-a3b9-6f5110b2240c/tag/logback</endpointUrl>
        <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} $-5level %c{0}.%M - %m%n</pattern>
    </appender>
    <root level="warn">
        <appender-ref ref="loggly" />
    </root>
</configuration>
